header {
    display: flex;
    background-color: transparent;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 2rem 20px;
    border-bottom: 2px solid silver;
}

header h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    font-size: 2rem;
    font-weight: 400;
    color: #333;
}
.back-btn {
    position: absolute;
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    cursor: pointer;
    width: 40px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    transition: background-color 0.2s;
}

.back-btn:hover {
    background-color: rgba(0, 0, 0, 0.05);
}